body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fdfdfd;
}

header {
  padding: 20px;
  text-align: center;
  background-color: #59b1f5;
  text-decoration: underline;
}

h1 {
  margin: 0;
  font-size: 24px;
  /* font-weight: bold; */
  text-align: left;
}

p {
  color: #777;
  text-align: left;
}

#properties, #bookings, #notifications {
  /* background-color: #fff; */
  margin: 10px;
  padding: 20px;
  border-radius: 10px;
}

/*PROPERTIES*/
#properties {
  padding: 20px;
}

.slider-container {
  position: relative;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

.slider {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
}

.property-card {
  flex: 0 0 80%;
  margin-right: 20px;
  text-align: center;
  scroll-snap-align: start;
}

.property-card img {
  width: 100%;
  height: 200px; /* Consistent height for all images */
  object-fit: cover;
  border-radius: 10px;
}

.slider::-webkit-scrollbar {
  display: none; /* Hide scrollbar */
}

/* Styling for the Previous and Next buttons */
.prev, .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  /* background-color: rgba(0, 0, 0, 0.5); */
  border: none;
  color: rgb(0, 0, 0);
  padding: 15px;
  cursor: pointer;
  border-radius: 50%;
  font-size: 24px;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

/* .prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
} */


.booking {
  margin-bottom: 10px;
}

.notification{
  margin-bottom: 50px;
}

/* General Footer Styling */
footer {
  bottom: 0;
  width: 100%;
  background-color: #ffffff;
  z-index: 1000;
  position: fixed;
}

/* Footer Navigation */
footer nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

footer nav ul li {
  flex-grow: 1;
  text-align: center;
}

footer nav ul li a {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0;
  text-decoration: none;
  color: #777;
  font-size: 12px;
  transition: color 0.3s ease;
}

footer nav ul li a i {
  font-size: 24px; /* Icon size */
  margin-bottom: 4px; /* Space between icon and text */
}

footer nav ul li a span {
  font-size: 12px;
}

footer nav ul li a:hover {
  color: #007bff; /* Hover Effect */
}

footer nav ul li a.active {
  font-weight: bold;
  color: #000;
}

footer nav ul li a.active i {
  color: #007bff;
}

footer nav ul li a.active span {
  color: #007bff;
}


